body{
    background-color: #1b1404;
    color: #ffffff;
}

a{
    color: #ffffff;
}

td, th{
    padding: 10px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid black;
}

th {
    background-color: #f2f2f2;
    color: black;
}
